body{
    background-color: grey;
}
.section-2{
display: flex;
margin:30px 20px;
flex-direction: column;
border: 1px solid red;
height: 750px;

}
.bar2{
    background-color: red;
       
    height:80Px;
    display: flex;
  
    border-radius: 7px;
}  
.image{
    width:20px;
    height:30px;
    margin: 29px 20px 5px 20px;
 
}
.totshp{
    margin: 20px;
}
.style-p{
    font-size: 24px;
    margin-top: 27px;
    margin-left: 5px;
}
.sho-container{
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.sbedri{
    display: flex ;
    justify-content: space-evenly;
    background-color: white;
}
.backette{
padding-bottom: 30px;
width: 200px;
height: 200px;

    
}

input{
    margin-top: 80px;

    height: 20px;
    width: 20px;
    padding:20px;

}
.symbole{
    margin-top: 80px;
}
.phrase{
    margin-top: 50px;
    font-size: 30px;

}
.one{
    margin-top: 10px;
}
.prix{
    margin-top: 50px;
    font-size: 30px;

}
.input-modification{
    margin-top: 60px;
    display: flex;
    height: 40px;
    width: 110px;
    justify-content: space-evenly;
}
#price-value{
    font-size: 25px;
}
#price-value-2{
    font-size: 25px;

}
#price-value-3{
    font-size: 25px;

}
.up-price{
    border: transparent;
}
.down-price{
    border: transparent;

}
.heart{
    color:red !important
}
.abir{
    height: 10px;
font-size: 20px;
margin-top: 33px;
font-weight: bold;
}